<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs"> Dasboard</h1>

                <h4 class="font-bold no-margins">
                    Bilgi
                </h4>
                <small>Yeni ürünlerinizi, biten veya hâlâ devam etmekte olan projelerinizi, iletişim bilgilerinizi  veya referanslarınızı ekleyebildiğiniz web sitenin  yönetim bölümüdür.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs"> Son  Blog</h1>
                <br />

                <h3 class="font-bold no-margins">
                    @ViewBag.v1
                </h3>
                <small>  <a href="/Blog/Index/">Tüm Bloglar</a>  </small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">₺2687,992</h1>

                <h3 class="font-bold no-margins">
                    Blog Site Kazancı
                </h3>
                <small>Ürün tanıtımlaarı promosyondur.</small>
                <small>Reklamlar, anlaşmalar.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>
