
<div class="tech-btm">
       <p>Tekonoloji,yazılım ve diğer bloglar.. </p>
@*form action diez(#) alanını sil.*@
<form action="/NewsLatter/SubscribeMail" method="post">
@*name alanı ekle database ile aynı isim olsun*@
<input type="email" placeholder="Email" required="" name="Mail">
        <input type="submit" value="Abone Ol">
    </form>

</div>